<header>
  <%= link_to logo, root_path %>
  <nav class="round">
	<table>
	<tr>
	  <td><%= link_to "Home", root_path %></td>

	  <td><%= link_to "Articles", articles_path %></td>
	</tr>
	</table>

  </nav>
</header>